
ExampleApi/bin/*
ExampleApi/obj/*
.vs/*
.vs/ExampleApi/v16/.suo
*.dll
*.cache
*.dll
*.cache
ExampleApi.IntegrationTests/bin/Debug/netcoreapp3.1/appsettings.Development.json
ExampleApi.IntegrationTests/bin/Debug/netcoreapp3.1/appsettings.json
ExampleApi.IntegrationTests/bin/Debug/netcoreapp3.1/ExampleApi.deps.json
ExampleApi.IntegrationTests/bin/Debug/netcoreapp3.1/ExampleApi.exe
ExampleApi.IntegrationTests/bin/Debug/netcoreapp3.1/ExampleApi.IntegrationTests.deps.json
ExampleApi.IntegrationTests/bin/Debug/netcoreapp3.1/ExampleApi.IntegrationTests.pdb
ExampleApi.IntegrationTests/bin/Debug/netcoreapp3.1/ExampleApi.IntegrationTests.runtimeconfig.dev.json
ExampleApi.IntegrationTests/bin/Debug/netcoreapp3.1/ExampleApi.IntegrationTests.runtimeconfig.json
ExampleApi.IntegrationTests/bin/Debug/netcoreapp3.1/ExampleApi.pdb
ExampleApi.IntegrationTests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
ExampleApi.IntegrationTests/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
ExampleApi.IntegrationTests/obj/Debug/netcoreapp3.1/ExampleApi.IntegrationTests.AssemblyInfo.cs
ExampleApi.IntegrationTests/obj/Debug/netcoreapp3.1/ExampleApi.IntegrationTests.csproj.CopyComplete
ExampleApi.IntegrationTests/obj/project.assets.json
ExampleApi.IntegrationTests/obj/ExampleApi.IntegrationTests.csproj.nuget.g.targets
ExampleApi.IntegrationTests/obj/ExampleApi.IntegrationTests.csproj.nuget.g.props
ExampleApi.IntegrationTests/obj/ExampleApi.IntegrationTests.csproj.nuget.dgspec.json
ExampleApi.IntegrationTests/obj/Debug/netcoreapp3.1/ExampleApi.IntegrationTests.pdb
ExampleApi.IntegrationTests/obj/Debug/netcoreapp3.1/ExampleApi.IntegrationTests.csproj.FileListAbsolute.txt
ExampleApi/bin/Debug/netcoreapp3.1/ExampleApi.dll
